.chat{
    width: 350px;
    height: 500px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid rgb(229, 219, 219);

    position: relative;
    overflow: hidden;
}
.chat-text{
    /* height: 40px;
    display: flex;
    flex-direction: row;
    background-color: #78a300;
    font-weight: bold;
    font-family: system-ui;
    border-radius: 10px; */

    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: #78a300;
    font-weight: bold;
    font-family: system-ui;
    /* border-radius: 10px; */
    z-index: 1;
    margin-bottom: 10px;
}

.sagar {
    flex: 1; /* Fill remaining space */
    overflow-y: auto; /* Add scrollbar for overflow */
    background-color: #fff;
}


.chat-text hr{
    width: 12px;
    border: 1px solid black;
}
.horizontal-line:hover{
    cursor: pointer;
    width: 30px;
    background-color: #768e31;;
}
/* .chat-text hr:hover{
    cursor:pointer;
    box-shadow: 2px 2px 5px 5px rgb(65, 96, 65);
} */
.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 200px;
    height: auto;
    padding: 20px;
    
  }

  .formContainer label {
    font-size: 14px;
    font-weight: bold;
    font-kerning: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, Arial, sans-serif;

  }
  
  .formContainer #inputCreatePost {
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #d2cccc;
    border-radius: 5px;
    padding-left: 16px;
    font-size: 14px;
    width: 270px;
    transition: border-color 0.3s, box-shadow 0.3s; /* Add transition for smooth effect */
  }
  
  .formContainer #inputCreatePost:hover {
    border: 1px solid rgb(42, 40, 40);
  }
  
  .formContainer #inputCreatePost:focus {
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.3); /* Add grey box shadow */
    /* border-color: transparent; */
    outline: 2px solid transparent;
  }

  .inputCreatePost.messageField {
    height: 82px !important;  /* Set the desired height for the Message field */
    padding-top: 0;
    padding-left: 0;
    line-height: 1em;
}

.inputField {
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #d2cccc;
  border-radius: 5px;
  padding-left: 16px;
  font-size: 14px;
  width: 270px;
  transition: border-color 0.3s, box-shadow 0.3s; /* Add transition for smooth effect */
}

.inputField.error {
  border-color: red !important;
  /* border-color: red; */
  /* box-shadow: none; */
}

.inputField:focus {
    border-color: red !important;
    box-shadow: none !important;
}
  
  /* span {
    color: red;
    margin-bottom: 23px;

  } */

.footer{
    display: grid;
    place-content: end;
    border: 1px solid rgb(242 235 235);
}
.footer button{
    border-radius: 10px;
    width: 121px;
    height: 46px;
    background-color: rgb(47, 57, 65);
    color: white;
    margin: 13px 21px;
    border: 1px solid rgb(47, 57, 65);
    cursor: pointer;
    font-size: 16px;
}