.Freq-main-page .right-faq{
    height:100vh;
    width: 400px;
    border: 1px solid #d8cece;
    overflow-y: auto;
}

.freqaskquest{
    padding: 16px 14px;
    border-bottom: 1px solid #eadcdc;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: .5px;
    color: #353054;
}

.present-faq{
    transition: margin-top 0.5s ease, opacity 0.5s ease;
    display: flex;
    flex-direction: column;
    font: status-bar;
    font-size: 14px;
    margin-top: 14px;
    margin-bottom: 44px;
}

.present-faq .inside-faq{
    display: flex;
    flex-direction: row;
    transition-delay: 2s;
    transition: 1000ms;
}

.inside-faq
{
    transition: background-color 0.5s ease;

}

.delay-1
{
    transition-delay: 2s;
}


@media (max-width:440px){
    .Freq-main-page .right-faq{
        width: 300px;
    }
}
@media (max-width:340px){
    .Freq-main-page .right-faq{
        width: 200px;
        max-height: 100%;
    }
}