.Freq-main-page .right-faq{
    height:100vh;
    width: 400px;
    border: 1px solid #d8cece;
    overflow-y: auto;
}

.freqaskquest{
    padding: 12px 12px;
    border-bottom: 1px solid #eadcdc;
    font-family: math;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: .5px;
    color: #353054;
}

.present-faq{
    margin: 28px 12px;
    display: flex;
    flex-direction: column;
    font: status-bar;
    font-size: 14px;
}

.present-faq .inside-faq{
    display: flex;
    flex-direction: row;
}


@media (max-width:440px){
    .Freq-main-page .right-faq{
        width: 300px;
    }
}
@media (max-width:340px){
    .Freq-main-page .right-faq{
        width: 200px;
        max-height: 100%;
    }
}