.chatbutton {
    position: fixed;
    bottom: 78px;
    left: 30px;
    z-index: 999;
    margin-top: 0;
    margin-left: 0
}

.inside-chatbutton {
    font-size: 1.07143rem;
    border-radius: 38px;
    width: 121px;
    height: 58px;
    border: 1px solid;
    border-style: ridge;
    background-color: #78a300;
    font-weight: bold;
    cursor: pointer;
}

.main-chat-page {
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid rgb(229, 219, 219);

    position: relative;
    overflow: hidden;
}

.chat-text {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: #78a300;
    font-weight: bold;
    font-family: system-ui;
    z-index: 1;
    margin-bottom: 10px;
}

.chatbox-text {
    flex: 1;
    overflow-y: auto;
    background-color: #fff;
}

.chat-text hr {
    width: 12px;
    border: 1px solid black;
}

.horizontal-line {
    width: 30px;
    height: 23px;
    display: grid;
    place-content: center;
}

.horizontal-line:hover {
    cursor: pointer;
    width: 30px;
    background-color: #768e31;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 200px;
    height: auto;
    padding: 20px;

}

.formContainer label {
    font-size: 14px;
    font-weight: bold;
    font-kerning: normal;
   
}

.formContainer #inputCreatePost {
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #d2cccc;
    border-radius: 5px;
    padding-left: 16px;
    font-size: 14px;
    width: 270px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.formContainer #inputCreatePost:hover {
    border: 1px solid rgb(42, 40, 40);
}

.formContainer #inputCreatePost:focus {
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
    outline: 2px solid transparent;
}

.inputCreatePost.messageField {
    height: 82px !important;
    padding-top: 0;
    padding-left: 0;
    line-height: 1em;
}

.inputField {
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #d2cccc;
    border-radius: 5px;
    padding-left: 16px;
    font-size: 14px;
    width: 270px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.inputField.error {
    border-color: red !important;
}

.inputField:focus {
    border-color: red !important;
    box-shadow: none !important;
}

span-text {
    color: red;
    margin-bottom: 20px;
    font-size: 13px;
    width: 160px;

}

.footer-chat-button {
    display: grid;
    place-content: end;
    border: 1px solid rgb(242 235 235);
    background-color: #fff;
}

.footer-chat-button button {
    border-radius: 10px;
    width: 121px;
    height: 46px;
    background-color: rgb(47, 57, 65);
    color: white;
    margin: 13px 21px;
    border: 1px solid rgb(47, 57, 65);
    cursor: pointer;
    font-size: 16px;
    display: grid;
    place-content: center;
}