.page-divide {
  display: flex;
  flex-direction: row;
}

.getticket-main {
  display: flex;
  flex-direction: column;
}

.getticket-main .mainbox-event {
  padding: 20px;
}

@media (min-width: 1000px) {
  .getticket-main .mainbox-event {
    display: flex;
    flex-direction: col;
  }
  .getticket-main .get-time {
    padding-left: 120px;
    padding-top: 5px;
  }
}

.mainbox-event .get-time {
  flex: 50%;

  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: #2e294e;
}

.divide-main {
  display: flex;
  flex-direction: row;
}

.divide-main .box {
  width: 110px;
  height: 65px;
  border: 6px solid white;
  background-color: #cfcfce;
  /* position: relative; */
  box-shadow: 2px 2px #cfcfce;
}
.divide-main .box .diagonal {
  /* content: "MULTI Events";
    position: absolute;
     top: 31%;
    left: 15%; */
  transform: translate(12%, 74%) rotate(-45deg);
  /* white-space: nowrap; */
  font-size: 11px;
}
.divide-main .event-name {
  font-size: 24px;

  font-weight: bold;
  font-family: sans-serif;
}

.getticket-main .select-ticket {
  display: flex;
  flex-direction: column;
  border: 1px solid #d2cccc;

  box-shadow: 1px 1px 5px 0px grey;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.part .upper-part {
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.5px;
  color: #454444;
}

.part .mid-part {
  display: grid;
  place-content: end;
}

.part .mid-part .dollar {
  height: 25px;
  width: 77px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5f6c82;
  background: #edeff2;
  border-radius: 16px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

.lower-part .quantity {
  width: 100px;
  height: 27px;
  margin-left: 18px;
  padding: 0px 9px;
  box-shadow: none;
  border: 1px solid #ccc;
  background-color: transparent;
  border-radius: 4px;
}

.lower-part label {
  font-size: 15px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  letter-spacing: 0.3px;
  color: #6b6c6e;
}
