.chatbutton{
    /* margin-top: 200px;
    margin-left: 45px; */
    position: fixed;
    bottom: 10px; /* Adjust as needed */
    left: 40px; /* Adjust as needed */
    z-index: 999; /* Ensure it's above other content */
    margin-top: 0; /* Remove the top margin */
    margin-left: 0
}

.butt{
    font-size: 1.07143rem;
    border-radius: 38px;
    width: 121px;
    height: 58px;
    border: 1px solid;
    border-style: ridge;
    background-color: #78a300;
    font-weight: bold;
    cursor: pointer;
}
